venv
.env
.env.example.xtractapi.ai
.env.example.xtractuat.ai
.env.example
.env.example.local
db.sqlite3
*.pyc
debug.log
/assets
/logs
*/*/migrations/*.py
!*/*/migrations/__init__.py
/media
.idea
/.vscode
admin_generator.txt
/templates/client.html
/my_log.log
apps/testapp/views.py
.scannerwork
.history
Dokerfile
docker-compose.yml